body {
    text-align: center;
    background-color: antiquewhite;
}

.todo {
    width: 20%;
    box-sizing: border-box;
    background-color: lightblue;
    padding: .5em;
    border-radius: .75em;
    margin: 1em;
    cursor: pointer;
    display: inline-block;
}

.todo h3 {
    margin: 0px;
}

.todo p {
    margin: 0px;
}

.completed {
    opacity: 50%;
    background-color: lightgreen;
}

/*
#complete-items {
    border: solid .1em;
}

#incomplete-items {
    border: solid .1em;
    margin-bottom: 1em;
}
*/

input[type="text"], input[type="button"], input[type="checkbox"] {
    margin-bottom: .5em;
}

.lists {
    width: 45%;
    display: inline-block;
}

.list-title {
    width: 45%;
    display: inline-block;
    text-decoration: underline;
}